/* body */
body
{
  font-family: Montserrat;
  letter-spacing: 0.4px;
  color: white;
  background-color: #1C1C1C;
}

a,a:hover
{
  text-decoration: none;
  color: white;
}

/* Main */
.mainback
{
  height: 550px;
  object-fit: cover;
}

.mainbutton,.maintextimage
{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.maintextimage
{
  top: 285px;
  width: 70%;
  max-width: 600px;
}

.mainbutton
{
  top: 375px;
}

/* Button */
.btn,.btn-lg
{
  border-radius: 30px;
}

/* Footer */
.footerbutton
{
  border : 0px solid transparent;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
}

.footerbutton:hover
{
  background-color: transparent;
    color: grey;
}

/* images in main */
.chidilogo
{
  width: 40%;
  max-width: 200px;
}
